<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YJ - 온라인문의</title>
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <!-- <script src="/assets/lib/recaptcha.js" async defer></script> -->
    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
    <!-- <script src="/assets/lib/aos.css"></script>
    <script src="/assets/lib/recaptcha.js" async defer></script> -->
    <script src="/assets/css/main.css"></script>
</head>

<body>
    <h1>test</h1>
    <!-- axios cdn -->
    <!-- <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/axios.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/js/include.js"></script> -->

    <!-- http://localhost:3000/assets/lib/axios.min.js -->
    <!-- <script src="/assets/lib/axios.min.js"></script> -->
    <!-- <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/axios.min.js"></script>
    <script src="/assets/lib/gsap.min.js"></script>
    <script src="/assets/lib/aos.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        function selectEmail(ele) {
            const email2 = document.querySelector('#email2');

            // '1'인 경우 직접입력
            if (ele.value === "1") {
                email2.removeAttribute('readonly');
                email2.value = '';
            } else {
                email2.setAttribute('readonly', true);
                email2.value = ele.value;
            }
        }

        document.getElementById('submit').addEventListener('click', function () {
            const name = document.getElementById('name').value;
            const mail1 = document.getElementById('email1').value;
            const mail2 = document.getElementById('email2').value;
            const email = `${mail1}@${mail2}`
            const tel1 = document.getElementById('tel1').value;
            const tel2 = document.getElementById('tel2').value;
            const tel3 = document.getElementById('tel3').value;
            const tel = `${tel1}-${tel2}-${tel3}`
            const title = document.getElementById('title').value;
            const content = document.getElementById('textarea').value;

            const agreeCheck = document.getElementById('agree');
            // recaptcha
            const response = grecaptcha.getResponse();

            if (name === '') {
                alert('고객명은 필수 기재 사항입니다.')
            } else if (mail1 === '' || mail2 === '') {
                alert('이메일은 필수 기재 사항입니다.')
            } else if (title === '') {
                alert('제목은 필수 기재 사항입니다.')
            } else if (content === '') {
                alert('문의내용은 필수 기재 사항입니다.')
            } else if (response.length == 0) {
                alert('봇이 아니라면 방지코드에 체크 하세요')
            } else if (!agreeCheck.checked) {
                alert('개인정보처리방침에 동의 해주세요.')
            } else {
                axios.post('/submit', { name, email, tel, title, content })
                        .then(function (response) {
                            console.log('성공', response.data);
                            // 서버 응답에 대한 추가 처리
                            alert('완료하였습니다.')
                        })
                        
                        .then()
                        .catch(function (error) {
                            console.error('Error:', error);
                            // 오류 처리
                        });
            }
        }); -->

        // fetch('/sitekey')
        // .then(response => response.json())
        // .then(data => {
        //     // 데이터를 사용하는 코드
        //     console.log(data.siteKey);
        // });

        // fetch('/sitekey')
        //     .then(response => response.json())
        //     .then(data => {
        //         const divElement = document.querySelector('div[data-sitekey]');
        //         if(divElement) {
        //             divElement.setAttribute('data-sitekey', data.siteKey);
        //         } else {
        //             console.error('could not find div with data-sitekey attribute');
        //         }
        //     })

    </script>

</body>
</html>