<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class="logo">
            <a href="/">
                <img src="/assets/img/logo.png" alt="">
            </a>
        </h1>
        <div class="gnb-wrap">
            <ul class="pc-gnb">
                <div class="pan"></div>
                <li>
                    <a href="/company">Company</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Service</a>
                    <ul class="sub-wrap">
                        <ul>
                            <li><a href="/service01">서비스 개요</a></li>
                            <li><a href="/service02">서비스 모델</a></li>
                            <li><a href="/service03">수행역량</a></li>
                        </ul>
                    </ul>
                </li>
                <li>
                    <a href="javafcscript:void(0);">Solution</a>
                    <ul class="sub-wrap">
                        <ul>
                            <li><a href="/solution01">솔루션 개요</a></li>
                            <li><a href="/solution02">ERP</a></li>
                            <li><a href="/solution03">POS</a></li>
                            <li><a href="/solution04">OMS</a></li>
                            <li><a href="/solution05">WMS</a></li>
                            <li><a href="/solution06">SCM</a></li>
                            <li><a href="/solution07">Promotion</a></li>
                            <li><a href="/solution08">RPA</a></li>
                            <li><a href="/solution09">e-Accounting</a></li>
                            <li><a href="/solution10">고객 DBMS</a></li>
                            <li><a href="/solution11">e-Shop</a></li>
                            <li><a href="/solution12">분석</a></li>
                            <li><a href="/solution13">Platform</a></li>
                        </ul>
                    </ul>
                </li>
                <li>
                    <a href="/performance">Performance</a>
                </li>
            </ul>
        </div>
        <div class="m-gnb-wrap">
            <div class="gnb-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="m-gnb">
                <ul class="m-gnb-header">
                    <li>
                        <a class="contact" href="https://port-0-test-17xco2lltffzc0y.sel5.cloudtype.app/">Contact</a>
                    </li>
                    <li>
                        <div class="lang">
                            <span>KOR</span>
                            <img src="/assets/img/input-icon01.png" alt="">
                            <ul class="select-box">
                                <li><a href="javascript:void(0);">셀렉트1</a></li>
                                <li><a href="javascript:void(0);">셀렉트2</a></li>
                                <li><a href="javascript:void(0);">셀렉트3</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="m-gnb-main">
                    <ul class="m-gnb-list">
                        <li>
                            <a href="/company">Company</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Service</a>
                            <ul class="m-2depth">
                                <li><a href="/service01">서비스 개요</a></li>
                                <li><a href="/service02">서비스 모델</a></li>
                                <li><a href="/service03">수행역량</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Solution</a>
                            <ul class="m-2depth">
                                <li><a href="/solution01">솔루션 개요</a></li>
                                <li><a href="/solution02">ERP</a></li>
                                <li><a href="/solution03">POS</a></li>
                                <li><a href="/solution04">OMS</a></li>
                                <li><a href="/solution05">WMS</a></li>
                                <li><a href="/solution06">SCM</a></li>
                                <li><a href="/solution07">Promotion</a></li>
                                <li><a href="/solution08">RPA</a></li>
                                <li><a href="/solution09">e-Accounting</a></li>
                                <li><a href="/solution10">고객 DBMS</a></li>
                                <li><a href="/solution11">e-Shop</a></li>
                                <li><a href="/solution12">분석</a></li>
                                <li><a href="/solution13">Platform</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/performance">Performance</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <ul class="header_right">
            <li>
                <a class="contact" href="/contact">Contact</a>
            </li>
            <li>
                <div class="lang">
                    <span>KOR</span>
                    <img src="/assets/img/input-icon01.png" alt="">
                    <ul class="select-box">
                        <li><a href="javascript:void(0);">셀렉트1</a></li>
                        <li><a href="javascript:void(0);">셀렉트2</a></li>
                        <li><a href="javascript:void(0);">셀렉트3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>


</body>

</html>