<table
    style="       font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;    width:100%;    max-width: 800px;                padding: 32px;        font-size: 16px;        border-spacing: 0;        background-color: #f2f5f8;      ">
    <tbody>
        <tr>
            <td>
                <table
                    style="              display: table;              margin: 0 auto;              text-align: center;              border-spacing: 0;              width: 100%;              table-layout: fixed;            ">
                    <tbody>
                        <tr>
                            <td>
                                <a style="display:block; margin-bottom:24px; target=" _blank">
                                    <img src="https://handeul-kim.github.io/yj/assets/img/logo.png" width="25%"
                                        style=" padding:10px 8px; background-color:#000;" alt="yj logo" loading="lazy">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div
                    style="              background-color: white;              padding: 32px;              text-align: center;              font-size: 16px;              font-weight: 400;              line-height: 28px;              letter-spacing: -0.54px;            ">
                    <img src="https://file.okky.kr/images/1706857660319.png" style="width: 164px" alt="hero"
                        loading="lazy">
                    <h2 style="margin: 32px 0; font-size: 24px; font-weight: 600; word-break: break-word;">
                        문의 내역<b style="display:block; border-bottom: 2px solid #008bf5; padding:20px 0;"></b>
                    </h2>

                    <ul style="list-style:none; padding-left:0;">
                        <li
                            style="margin-top:60px; border-bottom: 1px solid #ddd; padding-bottom: 40px; word-break: break-word;">
                            <div style="font-weight: 600; text-align: left;">
                                제목
                            </div>
                            <p style="text-align:left; padding:0; margin:0;">
                                ${title}
                            </p>
                        </li>
                        <li
                            style="margin-top:60px; border-bottom: 1px solid #ddd; padding-bottom: 40px; word-break: break-word;">
                            <div style="font-weight: 600; text-align: left;">
                                고객명
                            </div>
                            <p style="text-align:left; padding:0; margin:0;">
                                ${name}
                            </p>
                        </li>
                        <li
                            style="margin-top:60px; border-bottom: 1px solid #ddd; padding-bottom: 40px; word-break: break-word;">
                            <div style="font-weight: 600; text-align: left;">
                                이메일
                            </div>
                            <p style="text-align:left; padding:0; margin:0;">
                                ${email}
                            </p>
                        </li>
                        <li
                            style="margin-top:60px; border-bottom: 1px solid #ddd; padding-bottom: 40px; word-break: break-word;">
                            <div style="font-weight: 600; text-align: left;">
                                연락처
                            </div>
                            <p style="text-align:left; padding:0; margin:0; word-break: break-word;">
                                ${tel}
                            </p>
                        </li>
                        <li style="margin-top:60px; word-break: break-word;">
                            <div style="font-weight: 600; text-align: left; word-break: break-word;">
                                문의내용
                            </div>
                            <div style="text-align:left; padding:0; margin:0; white-space:pre-wrap;">
                                ${content}
                            </div>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>